#contenedor {
	background: #1C1C1C;
  font-family: helvetica,arial,sans;
	border-bottom: 1px double #171717;
	border-left: 1px double #333;
	border-right: 1px double #333;
	border-top: 1px double #171717;
	margin: 0 auto;
	max-width: 30%;
	width: 30%;
}

#contenedor p {
	color: white;
	font-family: "Open Sans";
	font-variant: small-caps;
	text-transform: uppercase;
  padding-left:8%;
}

#contenedor input {
	background: red;
	border-bottom: 1px double #660000;
	border-left: 1px double #FF0033;
	border-right: 1px double #FF0033;
	border-top: 1px double #660000;
	color: white;
	font-family: "Open Sans";
 	padding: 1px 5px 3px 5px;
}

#contenedor form {
  padding:0;
  margin: 0 auto;
  text-align:center;
}

#contenedor h4 {
	color: white;
	float: left;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: normal;
	margin: 0;
	padding-left: 35px;
	width: 90px;
}

#contenedor textarea {
  resize: none;
  font-family: "Open Sans";
	background: #262626;
	border: 1px double yellow;
	border-bottom: 1px double #171717;
	border-left: 1px double #333;
	border-right: 1px double #333;
	border-top: 1px double #171717;
	color: white;
	margin: 0;
	width: 70%;
}

.etiqueta {
	border-bottom: 1px double #171717;
	border-left: 1px double #333;
	border-right: 1px double #333;
	border-top: 1px double #171717;
	padding: 10px;
}

@media screen and (max-width: 720px ){
  textarea{
    width:95%; 
  }
}